.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/
.idea/
*.iml
.DS_Store
ios/Pods/
ios/.symlinks/
android/.gradle/
android/local.properties
android/app/debug
android/app/profile
android/app/release
**/Generated.xcconfig
**/flutter_export_environment.sh
