NEXT_PUBLIC_SUPABASE_URL=https://qvhwvenxsschkvxqfljv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF2aHd2ZW54c3NjaGt2eHFmbGp2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUzMDQzNzEsImV4cCI6MjA5MDg4MDM3MX0.ypFfTcOqXCqCo7TYm7zM5aeDo0B3kxfCrMkLOdZyIy0
